/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: montserrat, arial, verdana;
}
.panels {
  height: 100%;
  width: 100%;
  position: fixed;
}

.none {
  display: none;
}

#section_0 {
  background-image: url("https://dbtkdok.github.io/pado/img/main_images.jpg");
  background-size: cover;
  background-repeat: round;
}

#section_1 {
  background-image: url("https://dbtkdok.github.io/pado/img/step1_1.jpg");
  background-size: cover;
  background-repeat: round;
}

#section_2 {
  background-image: url("https://dbtkdok.github.io/pado/img/step1_1.jpg");
  background-size: cover;
  background-repeat: round;
}

#section_3 {
  background-image: url("https://dbtkdok.github.io/pado/img/step1_1.jpg");
  background-size: cover;
  background-repeat: round;
}

#section_4 {
  background-image: url("https://dbtkdok.github.io/pado/img/step1_1.jpg");
  background-size: cover;
  background-repeat: round;
}

#step_1, #step_4, #step_7 {
  top: 42%;
  left: 14%;
}

#step_2, #step_5, #step_8 {
  top: 62%;
  left: 14%;
}

#step_3, #step_6, #step_9 {
  top: 80%;
  left: 14%;
}

/*form styles*/
.msform {
  width: 100%;
  text-align: center;
}

.msform fieldset {
  border: 0 none;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  
  /*stacking fieldsets above each other*/
  text-align: center;
}
/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
.msform input, .msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
.msform .action-button {
  width: 75px;
  background: #88b3da;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*progressbar*/
.progressbar {
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  width: 65%;
  position: absolute;
}
.progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
  background: #27AE60;
  color: white;
}